.board {
  .nari-confirm {
    display: flex;
    height: 25px;
    justify-content: space-evenly;

    .opts {
      cursor: pointer;
    }
  }
  .main {
    display: flex;

    .table {
      direction: rtl;
      border: solid 1px;
      border-collapse: collapse;
  
      .td {
        border: solid 1px;
      }
    }
  }
}
